{% extends "base.html" %}

{% block head_title %} 
  {{instance.title }} | {{ block.super}} 
{% endblock head_title %}


<style>
{% block style %}


{% endblock style %}
</style>

{% block content %}

<div class="col-sm-10 col-sm-offset-2">
  <h1>{{ title }}</h1>
    

{% for obj in queryset %}
<div class="row">
  <div class="col-sm-12" >
    <div class="thumbnail" style="border: 1px solid grey; padding: 5px; margin: 10px; border-radius: 5px;">
    <!--<img src="" alt=""> -->
      <div class="caption">
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <small>{{ obj.timestamp|timesince }} ago</small></h3>
        <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>   
  </div>
  <hr/>
</div>        
{% endfor %}
</div>


{% endblock content %}